@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
body{
  background-color: #1F1F1F;
  color: white;
  font-size: 100%;
}

.conteudo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 60px;
  gap: 7px;
}

.titulo-proesc{
  line-height: 72px;
  color: #FFFFFF;
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 60px;
  color: #FFF2E
}

.subtitulo-academy{
  line-height: 32px;
  color: #5FB023;
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 30px;
}

.formulario input{
  display: block;
  margin-top: 1vh;
  height: 7vh;
  width: 65%;
  background-color: #1F1F1F;
  color: white;
  border: 1px solid #707070;
  box-sizing: border-box;
  border-radius: 8px;
}

.formulario input::placeholder{
  color: white;
}

.button-login {
  background-color: #448b0d;
  width: 65%;
  height: 7vh;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Sarala', sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 24px;
  border-top: 500px;
}
.button-login:hover{
  background-color: #5FB023;
}